Total Fire Benders: <%= @benders.count %><hr>

<% @benders.take(25).each do |bender| %>
  <h4><%= bender.name %></h4>
  <% if bender.photoUrl != nil %>
    <img src=<%= bender.photoUrl %>><br>
  <% else %>
    No image available.<br>
  <% end %>
  Affiliations: <%= bender.affiliation %><br>
  Enemies: <% bender.enemies.each do |enemy| %>
    <%= enemy %><br>
  <% end %>
  Allies: <% bender.allies.each do |ally| %>
    <%= ally %><br>
  <% end %><hr>
<% end %>
